

.app-container {
  height: 100vh; 
  display: flex;
  flex-direction: column;
 
  
}

.app-header {
  background-color: purple;
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding: 20px;
}
form{
  display: flex;
}
/* .date{
  
    width: 00px; 
    height: 30px; 
    font-size: 16px; 
    padding: 5px; 
  } */
    /* .placeholder{
      padding: 10px 20px;
      margin: 10px 20px;
      font-size: 18px;
      line-height: 1.5;
    
    } */

    input{
      padding: 10px 0px;
      width: 250px;
      
    }
  

